<h1>All Posts</h1>

<% @posts.each do |post| %>
  <article class="post">
    <h2 class="post-title"><%= post.title %></h2>
    <% if logged_in? %>
      <span class="poster-label">
        Posted by: <span class="poster-name"><%= post.user.name %></span>
      </span>
    <% end %>
    <p class="post-body"><%= post.body %></p>
  </article>
<% end %>