<!DOCTYPE html>
<html>
  <head>
    <title>RestTester</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Here's the top title for each page</h1>
    <p>Look at this default paragraph here!</p>
    <%= yield %>
    <p>And this one here at the end...</p>
  </body>
</html>
