<html>
    <head>
    </head>
    <body>
        <p>
            <form>
                <input type="text" name="starting" />
                <input type="text" name="shift" />
                <input type="submit" value="Encode" />
            </form>
        </p>
        <p>
            <%= encoded %>
        </p>
    
    </body>
</html>