<html>
    <head>
        <title>Hangman</title>
    </head>
    <body>
        <h1>Hangman</h1>
        <h2>Load Savestate</h2>
        <div id="savestates" class="buttons">
            <% saves.each_with_index do |save, i| %>
                <a href="<%= url('load/' + save) %>"><%= saves_progress[i] %></a>
            <% end %>
        </div>
        <nav class="buttons">
            <a href="<%= url('/') %>">Return</a>
            <a href="<%= url('/newgame') %>">New Game</a>
        </nav>
    </body>
</html>