        <h2>load savestate</h2>
        <div id="savestates" class="buttons">
            <% saves.each_with_index do |save, i| %>
                <a href="<%= url('load/' + save) %>"><%= saves_progress[i] %></a>
            <% end %>
        </div>
        <nav class="buttons">
            <a href="<%= url('/') %>">Return</a>
            <a href="<%= url('/newgame') %>">New Game</a>
        </nav>
