body{
    text-align: center; }

h1{
    margin: 5em; }

#progress{
    
}

#win_lose{

}

#tries{

}

#tries_number{

}

#wrong_guesses{

}

#wrong_guesses_list{

}

#savestates{

}

div.buttons a{

}

nav{
    margin: 1em; }

nav.buttons a{

}

