Thank you for booking with us, <%= @passenger.name %></h1>
===============================================

You have successfully made a booking with flight-booker,
for your flight from <%= @passenger.booking.flight.origin.code %> to <%= @passenger.booking.flight.destination.code %>.

Thanks for booking and have a great day!