<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for booking with us, <%= @passenger.name %></h1>
    <p>
      You have successfully made a booking with flight-booker,
      for your flight from <%= @passenger.booking.flight.origin.code %> to <%= @passenger.booking.flight.destination.code %>.<br>
    </p>
    <p>Thanks for booking and have a great day!</p>
  </body>
</html>